<section class="create-game">

  <!-- Create game form -->
  <form id="create-game">
    <legend>Create a Game</legend>
    <div class="form-group">
      <div>
        <input type="submit" class="btn" value="Create Game" name="game[isActive]">
      </div>
    </div>
  </form>
</section>

<!-- Join game form -->
<section class="join-game-form">
  <form id="join-game">
    <legend>Join Game</legend>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="team-1" name="team" value="1">
        <label class="form-check-label" for="team-1">Blue Team</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="team-2" name="team" value="2">
        <label class="form-check-label" for="team-2">Red Team</label>
      </div>
      <div>
        <input type="text" class="form-control" id="enter-id" name="game" placeholder="Enter Game ID">
      </div>
      <div>
        <input type="submit" class="btn" value="Join Game">
      </div>
  </form>
</section>
