<section class="create-game">

  <!-- Create game form -->
  <form id="create-game">
    <legend>Create a Game</legend>
    <div class="form-group">
      <div>
        <input type="submit" class="btn" value="Create Game" name="game[isActive]">
      </div>
    </div>
  </form>
</section>

<!-- Join game form -->
<section class="join-game-form">
  <form id="join-game">
    <legend>Join Game</legend>
    <div class="form-group">
      <div class="form-group">
        <input type="text" class="form-control" name="game[email]" placeholder="Game ID">
      </div>
      <div>
        <input type="submit" class="btn" value="Sign In">
      </div>
    </div>
  </form>
</section>
