<section class="login-form">
  <form id="sign-in">
    <legend>Sign In</legend>
    <div class="form-group">
      <div class="form-group">
        <input type="text" class="form-control" name="credentials[email]" placeholder="example@email.com">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="credentials[password]" placeholder="Password">
      </div>
      <div>
        <input type="submit" class="btn" value="Sign In">
      </div>
    </div>
  </form>
</section>
<br>
<section class="signup-form form-group">
  <form id="sign-up">
    <legend>Sign Up</legend>
    <div>
      <div class="form-group">
        <input type="text" class="form-control" name="credentials[email]" placeholder="example@email.com">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="credentials[password]" placeholder="Password">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="credentials[password_confirmation]" placeholder="Confirm Password">
      </div>
    </div>
    <br>
    <input type="submit" value="Sign Up" class="btn">
  </form>
</section>
