<form style="padding-top:15px; padding-left: 15px; padding-bottom: 15px;" id="update-word-button" data-id={{word.id}}>
  <input type="text" name="word[name]" value="{{word.name}}" placeholder="Update word" class=".col-form-label-sm">
  <button type="submit" value="Submit!" class="btn btn-sm">Update</button>
</form>
