@import '~bootstrap/scss/bootstrap';

body {
    font-family: "Lato", sans-serif;
    background-color: #fefefa;
    display: flex;
}



// .main-head{
//     height: 150px;
//     background: #FFF;
//
// }

.sidenav {
    height: 100%;
    background-color: lightblue;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}

    .scrolling-box {
      z-index: -1;
    }
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .scrolling-box {
      z-index: -1;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 36%;
    }

    .sidenav{
        width: 30%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .change-password-signout-form {
      margin-top: 23%;
      margin-right: 30%;
    }

    .login-form{
        margin-top: 23%;
        margin-right: 30%;
    }

    .signup-form {
      border-top: 2px lightgrey solid;
      margin-right: 30%;
      padding-top: 25px;
    }

    #word1 {
      border-top: 2px lightgrey solid;
      margin-right: 30%;
      padding-top: 30px;
    }

    .scrolling-box {
      display: block;
      width: 400px;
      height: 455px;
      padding: 1em;
      overflow-y: scroll;
      text-align: center;
    }
}

.login-main-text{
    margin-top: 17%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn {
    background-color: lightskyblue !important;
    color: #fff;
}

.content section {
  padding-top: 20px;
  border: 2px solid lightskyblue;
}

#index {
  padding-right: 10px;
}

#message {
  font-size: 1.5em;
  text-decoration: underline;
}
